<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project Flask Base</title>
  <meta name="description" content="A frameowork for the next decade">
  <meta name="author" content="blueromance">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/system.css">
  <link rel="stylesheet" href="/static/dist/index.css">
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
  {% block css %}{% endblock %}
</head>

<body>
{% block content %}

{% endblock %}
<script type="text/javascript" src="/static/dist/index.js"></script>
{% block js %}{% endblock %}
</body>
</html>
